<html>
    <head>
        {% block head %}
        <title>Blog</title>
        {% endblock head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/syntax.css') }}">

        <!-- Atom Feed -->
        <link href="{{ url_for('feed') }}"
          rel="alternate"
          title="Recent Changes"
          type="application/atom+xml">
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>